@import '@/common/mixin.scss';
.content{
  padding: .3rem!important;
  height: 100%;
  width: 100%;
  .tabs{
    .tab-item{
      color: $color-99;
      display: inline-block;
      vertical-align: top;
      margin-right: .1rem;
      width: 2.12rem;
      text-align: center;
      font-size: .28rem;
      line-height: .73rem;
      border-radius: .11rem .11rem 0 0;
      background: rgba(41,55,87,0.4);
      transition: 200ms;
    }
    .actived{
      color: $color-blue;
      font-size: .3rem!important;
      background: $color-29!important;
    }
  }
  .tiktokList{
    height: calc(100% - 0.73rem);
    box-sizing: border-box;
    padding: .3rem .3rem .4rem;
    background: rgba(41,55,87,1)!important;
    border-radius: 0 .11rem .11rem .11rem;
    .listSum{
      margin-bottom: .4rem;
      line-height: .48rem;
      border-radius: .24rem;
    }
    .rank-item{
      padding-bottom: .4rem;
      line-height: .72rem;
      height: .72rem;
      .rank-num{
        margin-right: .38rem;
        height: .44rem;
        width: .44rem;
        .rank-img{
          height: .44rem;
          width: .44rem;
        }
      }
      .user{
        line-height: .72rem;
        .head-img{
          margin-right: .28rem;
          height: .72rem;
          width: .72rem;
          &>img{
            height: 100%;
            width: 100%;
            border-radius: 50%;
          }
        }
      }
      .userName{
        line-height: .72rem;
      }
      .inviteMan{
        white-space: nowrap;
        width: 1.6rem;
        .name{
          width: 1rem;
          line-height: .72rem;
        }
      }
      .sum{
        width: 1.7rem;
      }
    }
  }
  .footBox{
    position: fixed;
    bottom: .2rem;
    left: 0;
    width: 100%;
    .floatBtn{
      width: 4.28rem;
      height: .8rem;
      border-radius: .4rem;
      line-height: .8rem;
      background: linear-gradient(104deg, rgb(255,186,105), rgb(240,90,55));
      .iconwenhao{
        margin-left: .1rem;
      }
    }
  }
}