@import '@/common/mixin.scss';
.content{
  width: 100%;
  .row{
    line-height: .8rem;
    background: #293757;
  }
  .row,.rowList{
    padding: 0 .32rem;
    div{
      display: inline-block;
      vertical-align: top;
    }
    .row-left{
      width: 2.5rem;
    }
    .row-center{
      width: calc(100% - 5.02rem);
    }
    .row-right{
      width: 2.52rem;
    }
  }
  .rowList{
    padding-top: .4rem;
    line-height: .37rem;
  }

  .blank{
    margin: 2.79rem auto 0;
    .blankImg{
      height: 1.4rem;
      width: 1.6rem;
      margin-bottom: .64rem;
    }
  }
}