$color-ff: #ffffff;
$color-99: #999999;
$color-cc: #cccccc;
$color-blue: #14CAE1;
$video-title-color: #101E39;
$color-29: #293757;
$color-EE: #EEA86A;
$color-red: #EE2C34;
$color-10: #101E39;
$color-EA: #EAEAEA;